* {
    display: border-box;
}

.custom-large-height {
    height: 50vh;
}

.custom-medium-height {
    height: 32vh;
}

.custom-minimum-width {
    min-width: 245px;
}

.custom-aside-minimum-width {
    min-width: 200px;
}
    

/* @media screen and (max-width:768px) {
    main {
        flex-direction: column;
        flex-basis: 50%;
    }
} */